* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-right: auto;
  margin-left: auto;
}

/* X-Large devices (large desktops, less than 1400px) */
@media only screen and (max-width: 1399.98px) {
	.container {
		max-width: 1320px;
	}
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 1199.98px) {
	.container {
		max-width: 1140px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 991.98px) {
	.container {
		max-width: 960px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 575.98px) {
	.container {
		max-width: 540px;
		padding-right: 2rem;
  	padding-left: 2rem;
	}
}
